//! Logo 

.logo {
    height: 3.25rem;
    padding-left: 1rem;
}

//? Search

.search {

    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-size: inherit;
        font-family: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: 0.7rem 2rem;
        border-radius: 0.5rem;
        width: 90%;
        transition: all 0.2s ease;
        margin-right: -3.25rem;

        &:focus {
            width: 100%;
            outline: none;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        background-color: var(--color-grey-light-2);
        border: none;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        width: 2.25rem;
        height: 2.25rem;
        fill: var(--color-grey-dark-3);
    }

}

//* User Information

.user-nav {

    display: flex;
    align-items: center;
    align-self: stretch;

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }
    
    &__icon-box{
        position: relative;
    }

    &__icon {
        width: 2.25rem;
        height: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        font-size: 1.2rem;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: white;
        position: absolute;
        top: 1rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }
}

//! Side Navigation

.side-nav {

    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    &__item::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 5px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 0.2s,
                    width 0.4s cubic-bezier(1, 0, 0, 1) .2s,
                    background-color 0.1s;
        
    }
    
    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-primary-red-light);
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 2rem 3rem;
        position: relative;
        z-index: 10;
        
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;
    }
}

//* Legal Information

.legal {
    color: var(--color-grey-light-4);
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
}