//! variables
$size-largest: 75em; //* 1200px / 16 = 75 
$size-large: 68.75em; //? 1100px / 16 = 68.75 
$size-medium: 56.25em; //! 900px / 16 = 56.25
$size-small: 37.5em; //* 600px / 16 = 37.5
$size-smallest: 31.25em; //? 500px / 16 = 31.25